/* Header Section */
header {
  background: linear-gradient(90deg, #03183f, #2a5298);
  color: white;
  padding: 30px;
  text-align: center;
}
nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 15px;
}

nav a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

nav a:hover {
  text-decoration: underline;
}

footer {
  background: linear-gradient(#03183f, #2a5298);
  color: white;
  text-align: center;
  padding: 20px;
  margin-top: 40px;
}
